# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.zip
*.pdb
*.sdf
*.iobj
*.ipdb

*.log
*.tlod
*.pdb
*.idb

GLRender/Debug/
GLRender/Release/
GLRender/x64/
GLRender/x86/
GLRender/.vs/
GLRender/GLRender/Debug/
GLRender/GLRender/Release/
GLRender/GLRender/x64/
GLRender/GLRender/x86/
GLRender/include/glm/out/
GLRender/packages/glm.0.9.7.1/build/